.header-container {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  width: 100%;
  background-color: white;
  z-index: 999;
  border-bottom: 0.1px solid rgba(211, 211, 211, 0.5);
}
.header {
  display: flex;
  /* position: sticky;
  top: 0; */
  justify-content: space-between;

  /* padding: 5px; */
  width: 100%;
  max-width: 1150px;
  /* margin: 0 auto; */
  z-index: 999;
  align-items: center;
}
.header_left {
  display: flex;
}
.header_left > img {
  object-fit: contain;
  height: 35px;
  margin-right: 10px;
}
.header_search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 15px;
  color: gray;
  background-color: #eef3f8;
}
.header_search input {
  outline: none;
  border: none;
  background: none;
}
.header_right {
  display: flex;
}
.verticalBar {
  width: 2px;
  /* height: 72px; */
  border-left: 0.1px solid lightgray;
  margin: 0 15px;
}
button.optionPremium {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 10px 10px;
  color: gray;
  cursor: pointer;
  transition: 500ms ease;
  background-color: white;
  border: none;
}
button.optionPremium:hover {
  text-decoration: underline;
}
