.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: gray;
  cursor: pointer;
  transition: 500ms ease;
}
.headerOption:hover {
  color: black;
}
.headerOption_title {
  font-size: 12px;
  font-weight: 400;
}
.headerOption_icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
@media only screen and (max-width: 600px) {
  .headerOption {
    margin: 10px;
  }
  .headerOption_title {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .headerOption {
    margin: 6px;
  }
  /* .headerOption_title {
    display: block;
  } */
}
